body{
    background: black;
    color:white;
    font-size: 14px;
    font-family: sans-serif;
    margin:0;
    padding:0;

}

header{
    color:dodgerblue;
}

section{

}

article{

}

article h2{
    color:dodgerblue;
}

#selfDet span{
    color:yellow;
}

#favMovieList{
    list-style-type: decimal;
}

#favMovieList a{
    color:red
}